body{
	font-family:Times, Helvetica;
	overflow-wrap:normal;
}

h1{
	font-family:Helvetica;
	text-align:center;
}

h2{
	padding-top:1%;
}

h3{
	padding-top: 2%;
}

p{
	text-align:left;
}

.bullets{
	text-indent:3%;
	overflow-wrap:break-word;
}
.images{
	width:auto;
	height:auto;
}

